.TodoForm {
  position: absolute;
  width: 60%;
  top: 20%;
  left: 46.5%;
  text-align: left;
}

input[type="text"],
.btn-add {
  border: none !important;
  font-size: 1rem;
  height: 3rem;
  padding: 1rem;
}

input[type="text"] {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 35rem;
}

.btn-add {
  width: 7rem;
  text-align: center;
  color: rgb(59, 59, 59);
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.btn-add:hover {
  background-color: rgb(185, 185, 185);
}
